
/**
 * Styling rules of the sidebar
 */
p.book-title {
	font-family: SimSun;
	font-weight: bold;
	color:cadetblue;
	text-align: left;
}

p.category-title {
	font-family: SimSun;
	font-size: 16px;
	font-weight: bold;
	padding-left: 4px;
	cursor: pointer;
}

ul {
	font-family: SimSun;
	font-size: 14px;
	list-style-type: none;
	padding-left: 20px;
	color: #333333;
}

.article-list a.link {
	text-decoration: none;
}

.article-list a:hover {
	background-color: yellow;
}
/* 
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
} */